In [112]:
import pandas as pd
import numpy as np
# import csv
# csv.QUOTE_NONNUMERIC

In [121]:
df=pd.read_csv('D:\\Google Drive - Office\\PythonLab\\PandasLab\\ALL_LOC_SALES.csv',sep="\$SPL\$",engine='python')

In [123]:
print(df)

        BR_CD      BILL_NO    BILL_DT               EBS_CUST          CH_CD  \
0        8025         9681  01-Aug-22  2000187285-2000097480       RETAILOR
1        8042  62207300866  01-Aug-22             2000097205       RETAILER
2        8058       633957  01-Aug-22             2000006573      Franchise
3        8087   1300152071  01-Aug-22             2000163656       Retailer
4        8051        27591  01-Aug-22           2000187354-2       RETAILER
...       ...          ...        ...                    ...            ...
1669138  8029   8302237234  31-Aug-22             2000009530  General Trade
1669139  8046   8302233294  31-Aug-22             2000163843  General Trade
1669140  8049   8302233705  31-Aug-22             2000161130  General Trade
1669141  8049   8302233727  31-Aug-22             2000159914  General Trade
1669142  8046   8302238893  31-Aug-22             2000136812  General Trade

              PROD_CD                                 PROD_NM BATCH_NO  \
0        1.013000e+09        HYDRYLLIN DM SYRUP 120ml's (PAK)
1        1.013000e+09              LAMNET 50MG TAB 30's (PAK)
2        1.013000e+09  CO-EXTOR 5/160/12.5 MG TAB  28'S (PAK)
3        1.013001e+09               MORCET 5MG TAB 14's (PAK)
4        1.013000e+09         METROZINE 400MG TAB 100's (PAK)
...               ...                                     ...      ...
1669138  1.219000e+09                         Ez-Colic 7.5 ML
1669139  1.013000e+09          TRAMAL 100MG SR TAB 10's (PAK)
1669140  1.013000e+09              TRAMAL 50MG CAP 10's (PAK)
1669141  1.013000e+09         EXTOR 10/160 TABLETS 14'S (PAK)
1669142  1.013000e+09           EXTOR 5/80 TABLETS 14'S (PAK)

          PRICE  SOLD_QTY  BON_QTY  DISC_AMT  NET_AMT  GROSS_VALUE  \
0          0.00       2.0      0.0       0.0   122.44       122.44
1          0.00       1.0      0.0       0.0   442.00       442.00
2          0.00       1.0      0.0       0.0   666.15       666.15
3          0.00       2.0      0.0       0.0   335.84       335.84
4          0.00       1.0      0.0       0.0   185.97       185.97
...         ...       ...      ...       ...      ...          ...
1669138  359.58       1.0      0.0       0.0   359.58       359.58
1669139  291.73      10.0      0.0       0.0  2917.30      2917.30
1669140  148.82       4.0      0.0       0.0   595.28       595.28
1669141  420.76       2.0      0.0       0.0   841.52       841.52
1669142  281.36       2.0      0.0       0.0   562.72       562.72

         DISCOUNTED_RATE REASON DATA_FLAG  Unnamed: 17
0                    0.0   Sale        SD          NaN
1                    0.0   Sale        SD          NaN
2                    0.0   Sale        SD          NaN
3                    0.0   Sale        SD          NaN
4                    0.0   Sale        SD          NaN
...                  ...    ...       ...          ...
1669138              0.0   Sale       OPS          NaN
1669139              0.0   Sale       OPS          NaN
1669140              0.0   Sale       OPS          NaN
1669141              0.0   Sale       OPS          NaN
1669142              0.0   Sale       OPS          NaN

[1669143 rows x 18 columns]

In [116]:
df.info()
df[:0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1669143 entries, 0 to 1669142
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                   Non-Null Count    Dtype
---  ------                                                                                                                                                                                                                   --------------    -----
 0   BR_CD$SPL$BILL_NO$SPL$BILL_DT$SPL$EBS_CUST$SPL$CH_CD$SPL$PROD_CD$SPL$PROD_NM$SPL$BATCH_NO$SPL$PRICE$SPL$SOLD_QTY$SPL$BON_QTY$SPL$DISC_AMT$SPL$NET_AMT$SPL$GROSS_VALUE$SPL$DISCOUNTED_RATE$SPL$REASON$SPL$DATA_FLAG$SPL$  1669143 non-null  object
dtypes: object(1)
memory usage: 12.7+ MB

Empty DataFrame
Columns: [BR_CD$SPL$BILL_NO$SPL$BILL_DT$SPL$EBS_CUST$SPL$CH_CD$SPL$PROD_CD$SPL$PROD_NM$SPL$BATCH_NO$SPL$PRICE$SPL$SOLD_QTY$SPL$BON_QTY$SPL$DISC_AMT$SPL$NET_AMT$SPL$GROSS_VALUE$SPL$DISCOUNTED_RATE$SPL$REASON$SPL$DATA_FLAG$SPL$]
Index: []

In [ ]:
# df['BR_CD ùëÜùëÉùêø BILL_NO ùëÜùëÉùêø BILL_DT ùëÜùëÉùêø EBS_CUST ùëÜùëÉùêø CH_CD ùëÜùëÉùêø PROD_CD ùëÜùëÉùêø PROD_NM ùëÜùëÉùêø BATCH_NO ùëÜùëÉùêø PRICE ùëÜùëÉùêø SOLD_QTY ùëÜùëÉùêø BON_QTY ùëÜùëÉùêø DISC_AMT ùëÜùëÉùêø NET_AMT ùëÜùëÉùêø GROSS_VALUE ùëÜùëÉùêø DISCOUNTED_RATE ùëÜùëÉùêø REASON ùëÜùëÉùêø DATA_FLAG ùëÜùëÉùêø']

In [ ]:
df=df[:2]
print(df.ro  .str.split('$SPL$'))

In [ ]:
df.columns = df.columns.str.strip()

In [ ]:
df.info()

In [ ]:
L=[]

for i, row in df.iterrows():
#     print(i,row)
#     s=(row.str)
    L.append(row.str.split('$SPL$',''))

print(L)

In [ ]:
x = df.to_string(header=False,
                  index=False,
                  index_names=False).split('$SPL$')
vals = [','.join(ele.split()) for ele in x]
print('vals type : ',type(vals))
print(vals)
df1 = pd.DataFrame(vals)
df.reset_index(inplace=False)
df1.to_csv('D:\\Google Drive - Office\\PythonLab\\PandasLab\\mango.csv')
print(type(df1))

In [ ]:
df=df.replace('\$','',regex=True).astype(str)
df=df.replace('SPL',',',regex=True).astype(str)
df.columns =['BR_CD,BILL_NO,BILL_DT,EBS_CUST,CH_CD,PROD_CD,PROD_NM,BATCH_NO,PRICE,SOLD_QTY,BON_QTY,DISC_AMT,NET_AMT,GROSS_VALUE,DISCOUNTED_RATE,REASON,DATA_FLAG']

In [ ]:
df1=df[['BR_CD']

In [ ]:
print(df.columns)

In [ ]:
print(df.info())

In [ ]:
print(df1)

In [ ]:
print(df[['BR_CD,BILL_NO,BILL_DT,EBS_CUST,CH_CD,PROD_CD,PROD_NM,BATCH_NO,PRICE,SOLD_QTY,BON_QTY,DISC_AMT,NET_AMT,GROSS_VALUE,DISCOUNTED_RATE,REASON,DATA_FLAG']])

In [ ]:
df.to_csv('D:\\Google Drive - Office\\PythonLab\\PandasLab\\chiko.csv',index=False)

In [ ]:
print(df.columns)

In [ ]:
# print(df.groupby(by=["PROD_NM"]).sum())