In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\Google Drive - Office\\PythonLab\\PandasLab\\ALL_LOC_SALE_CSV.csv')
# print(df.head(10))

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1508707 entries, 0 to 1508706
Data columns (total 21 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   BR_CD            1508707 non-null  int64
 1   BILL_NO          1508707 non-null  object
 2   BILL_DT          1508707 non-null  object
 3   EBS_CUST         1508707 non-null  object
 4   CUSTOMER_NAME    1508707 non-null  object
 5   ADD1             1255796 non-null  object
 6   ADD2             1126135 non-null  object
 7   ADD3             1099780 non-null  object
 8   CH_CD            1508120 non-null  object
 9   ITEM_CODE        1508707 non-null  int64
 10  description      1508642 non-null  object
 11  BATCH_NO         1508707 non-null  object
 12  price            1508707 non-null  float64
 13  SOLD_QTY         1508707 non-null  int64
 14  BON_QTY          1508707 non-null  int64
 15  disc_amt         1508707 non-null  float64
 16  NET_amt          1508707 non-null  float64
 17  GROSS_VALUE      1508707 non-null  float64
 18  discounted_rate  1508707 non-null  float64
 19  reason           1508707 non-null  object
 20  data_flag        1508707 non-null  object
dtypes: float64(5), int64(4), object(12)
memory usage: 241.7+ MB
None

In [4]:
print(df)

         BR_CD     BILL_NO    BILL_DT               EBS_CUST  \
0         8025        6393  01-Jul-22  2000187285-2000184171
1         8025        6394  01-Jul-22  2000187285-2000097430
2         8025        6494  01-Jul-22  2000187285-2000097523
3         8037    30066949  01-Jul-22             2000139125
4         8048        62-L  01-Jul-22             2000092979
...        ...         ...        ...                    ...
1508702   8050  8302015603  31-Jul-22             2000097700
1508703   8049  8400099029  31-Jul-22             2000164461
1508704   8049  8302015000  31-Jul-22             2000163585
1508705   8001  1720072066  31-Jul-22             2000188355
1508706   8001  8302012349  31-Jul-22             2000188355

                     CUSTOMER_NAME                                      ADD1  \
0          CITY CARE MEDICAL STORE                                       NaN
1          AL REHMAN MEDICAL STORE                                       NaN
2              RIZVI MEDICAL STORE                                       NaN
3              Life Saver Pharmacy  Railway Road Laylani Adda Near Driver Ho
4        Masood Malik Medical Hall         COLLEGE ROAD OPPOSIT DHQ HOSPITAL
...                            ...                                       ...
1508702    New super medical store                   "sadar bazar m.b.din,,"
1508703                  irfan m/s                                Main Bazar
1508704                Mirwais m/s   "Junction Chowk, Dist Killa Saif Ullah"
1508705             NORTH PHARMACY                                         -
1508706             NORTH PHARMACY                                         -

                                    ADD2 ADD3          CH_CD   ITEM_CODE  ...  \
0                                    NaN  NaN       RETAILOR  1013000076  ...
1                                    NaN  NaN       RETAILOR  1919000019  ...
2                                    NaN  NaN       RETAILOR  1013000033  ...
3                        tel Distt Kasur  NaN       RETAILOR  1013000096  ...
4                                    NaN  NaN      FRANCHISE  1013000655  ...
...                                  ...  ...            ...         ...  ...
1508702                                -    -  General Trade  1013000158  ...
1508703                                -    -  General Trade  1013000057  ...
1508704                                -    -  General Trade  1913000121  ...
1508705  JADOON PLAZA PHASE 1 ABBOTTABAD    -  General Trade  1913000002  ...
1508706  JADOON PLAZA PHASE 1 ABBOTTABAD    -  General Trade  1919000004  ...

        BATCH_NO   price  SOLD_QTY  BON_QTY  disc_amt  NET_amt  GROSS_VALUE  \
0                   0.00         3        0       0.0   279.12       279.12
1                   0.00         1        0       0.0  2519.00      2519.00
2                   0.00         6        0       0.0   351.96       351.96
3                   0.00         1        0       0.0   177.63       177.63
4                   0.00         1        0       0.0   287.36       287.36
...          ...     ...       ...      ...       ...      ...          ...
1508702            15.76        50        0       0.0   788.00       788.00
1508703            59.66       -45       -3       0.0 -2684.70     -2684.70
1508704           253.97         1        0       0.0   253.97       253.97
1508705           673.97        -1        0       0.0  -673.97      -673.97
1508706           850.00         1        0       0.0   850.00       850.00

         discounted_rate  reason data_flag
0                    0.0    Sale        SD
1                    0.0    Sale        SD
2                    0.0    Sale        SD
3                    0.0    Sale        SD
4                    0.0    Sale        SD
...                  ...     ...       ...
1508702              0.0    Sale       OPS
1508703              0.0  Cancel       OPS
1508704              0.0    Sale       OPS
1508705              0.0  Return       OPS
1508706              0.0    Sale       OPS

[1508707 rows x 21 columns]

In [5]:
# df1=df.query('BR_CD==8032' or 'BR_CD==8035')
df1=df.query("(BR_CD==8032) and (description.str.contains('NUBER')) and (description.str.contains('15')) ")

In [6]:
df1=df1.groupby(by=["BILL_DT","description","BR_CD","data_flag","reason"]).sum()[['SOLD_QTY']]

In [7]:
print(df1)

                                                               SOLD_QTY
BILL_DT   description                  BR_CD data_flag reason
01-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  OPS       Cancel       -27
                                                       Sale          85
02-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  OPS       Sale          68
                                             SD        Sale         135
03-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Sale         206
04-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -19
                                                       Sale         193
05-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -26
                                                       Sale          56
06-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -23
                                                       Sale         261
07-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return        -6
                                                       Sale         181
08-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -27
                                                       Sale         121
09-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -26
                                                       Sale          70
13-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -15
                                                       Sale          97
14-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -26
                                                       Sale         135
16-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Sale         329
17-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Sale         277
18-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -23
                                                       Sale         416
19-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return      -230
                                                       Sale         339
20-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -48
                                                       Sale         141
21-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -28
                                                       Sale         181
23-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return        -6
                                                       Sale         286
24-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -19
                                                       Sale         127
25-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  OPS       Sale         418
                                             SD        Return       -11
                                                       Sale          86
26-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -54
                                                       Sale         129
27-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -19
                                                       Sale         175
28-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return        -1
                                                       Sale         117
30-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  SD        Return       -51
                                                       Sale         265
31-Jul-22 NUBEROL FORTE TAB 15's (PAK) 8032  OPS       Sale        2850
                                             SD        Return       -31
                                                       Sale          30

In [216]:
df1.to_csv('D:\\Google Drive - Office\\PythonLab\\PandasLab\\ALL_LOC_SALE_data.csv')